body {
  background: #ecf3f3;
}

.particle {
  position: absolute;
  border-radius: 50%;
}

@keyframes particle-animation-1 {
  100% {
    transform: translate3d(58vw, 37vh, 12px);
  }
}
.particle:nth-child(1) {
  animation: particle-animation-1 60s infinite;
  opacity: 0.46;
  height: 6px;
  width: 6px;
  animation-delay: -0.2s;
  transform: translate3d(50vw, 65vh, 17px);
  background: hsl(354, 70%, 50%);
}

@keyframes particle-animation-2 {
  100% {
    transform: translate3d(14vw, 10vh, 98px);
  }
}
.particle:nth-child(2) {
  animation: particle-animation-2 60s infinite;
  opacity: 0.36;
  height: 9px;
  width: 9px;
  animation-delay: -0.4s;
  transform: translate3d(22vw, 83vh, 3px);
  background: hsl(325, 70%, 50%);
}

@keyframes particle-animation-3 {
  100% {
    transform: translate3d(50vw, 85vh, 7px);
  }
}
.particle:nth-child(3) {
  animation: particle-animation-3 60s infinite;
  opacity: 0.42;
  height: 7px;
  width: 7px;
  animation-delay: -0.6s;
  transform: translate3d(3vw, 43vh, 26px);
  background: hsl(38, 70%, 50%);
}

@keyframes particle-animation-4 {
  100% {
    transform: translate3d(41vw, 15vh, 51px);
  }
}
.particle:nth-child(4) {
  animation: particle-animation-4 60s infinite;
  opacity: 0.69;
  height: 8px;
  width: 8px;
  animation-delay: -0.8s;
  transform: translate3d(1vw, 52vh, 22px);
  background: hsl(140, 70%, 50%);
}

@keyframes particle-animation-5 {
  100% {
    transform: translate3d(41vw, 4vh, 3px);
  }
}
.particle:nth-child(5) {
  animation: particle-animation-5 60s infinite;
  opacity: 0.21;
  height: 6px;
  width: 6px;
  animation-delay: -1s;
  transform: translate3d(12vw, 46vh, 40px);
  background: hsl(178, 70%, 50%);
}

@keyframes particle-animation-6 {
  100% {
    transform: translate3d(79vw, 84vh, 51px);
  }
}
.particle:nth-child(6) {
  animation: particle-animation-6 60s infinite;
  opacity: 0.39;
  height: 9px;
  width: 9px;
  animation-delay: -1.2s;
  transform: translate3d(7vw, 89vh, 97px);
  background: hsl(310, 70%, 50%);
}

@keyframes particle-animation-7 {
  100% {
    transform: translate3d(55vw, 76vh, 100px);
  }
}
.particle:nth-child(7) {
  animation: particle-animation-7 60s infinite;
  opacity: 0.24;
  height: 10px;
  width: 10px;
  animation-delay: -1.4s;
  transform: translate3d(46vw, 10vh, 44px);
  background: hsl(71, 70%, 50%);
}

@keyframes particle-animation-8 {
  100% {
    transform: translate3d(67vw, 15vh, 91px);
  }
}
.particle:nth-child(8) {
  animation: particle-animation-8 60s infinite;
  opacity: 0.81;
  height: 9px;
  width: 9px;
  animation-delay: -1.6s;
  transform: translate3d(81vw, 79vh, 41px);
  background: hsl(333, 70%, 50%);
}

@keyframes particle-animation-9 {
  100% {
    transform: translate3d(85vw, 60vh, 30px);
  }
}
.particle:nth-child(9) {
  animation: particle-animation-9 60s infinite;
  opacity: 0.25;
  height: 6px;
  width: 6px;
  animation-delay: -1.8s;
  transform: translate3d(28vw, 26vh, 71px);
  background: hsl(267, 70%, 50%);
}

@keyframes particle-animation-10 {
  100% {
    transform: translate3d(28vw, 16vh, 83px);
  }
}
.particle:nth-child(10) {
  animation: particle-animation-10 60s infinite;
  opacity: 0.41;
  height: 10px;
  width: 10px;
  animation-delay: -2s;
  transform: translate3d(48vw, 6vh, 77px);
  background: hsl(235, 70%, 50%);
}

@keyframes particle-animation-11 {
  100% {
    transform: translate3d(25vw, 77vh, 5px);
  }
}
.particle:nth-child(11) {
  animation: particle-animation-11 60s infinite;
  opacity: 1;
  height: 6px;
  width: 6px;
  animation-delay: -2.2s;
  transform: translate3d(43vw, 45vh, 26px);
  background: hsl(289, 70%, 50%);
}

@keyframes particle-animation-12 {
  100% {
    transform: translate3d(4vw, 19vh, 67px);
  }
}
.particle:nth-child(12) {
  animation: particle-animation-12 60s infinite;
  opacity: 0.53;
  height: 6px;
  width: 6px;
  animation-delay: -2.4s;
  transform: translate3d(48vw, 66vh, 17px);
  background: hsl(221, 70%, 50%);
}

@keyframes particle-animation-13 {
  100% {
    transform: translate3d(73vw, 39vh, 39px);
  }
}
.particle:nth-child(13) {
  animation: particle-animation-13 60s infinite;
  opacity: 0.25;
  height: 10px;
  width: 10px;
  animation-delay: -2.6s;
  transform: translate3d(25vw, 72vh, 83px);
  background: hsl(239, 70%, 50%);
}

@keyframes particle-animation-14 {
  100% {
    transform: translate3d(28vw, 88vh, 1px);
  }
}
.particle:nth-child(14) {
  animation: particle-animation-14 60s infinite;
  opacity: 0.68;
  height: 6px;
  width: 6px;
  animation-delay: -2.8s;
  transform: translate3d(51vw, 32vh, 43px);
  background: hsl(123, 70%, 50%);
}

@keyframes particle-animation-15 {
  100% {
    transform: translate3d(20vw, 43vh, 42px);
  }
}
.particle:nth-child(15) {
  animation: particle-animation-15 60s infinite;
  opacity: 0.01;
  height: 8px;
  width: 8px;
  animation-delay: -3s;
  transform: translate3d(80vw, 79vh, 26px);
  background: hsl(9, 70%, 50%);
}

@keyframes particle-animation-16 {
  100% {
    transform: translate3d(56vw, 22vh, 97px);
  }
}
.particle:nth-child(16) {
  animation: particle-animation-16 60s infinite;
  opacity: 0.61;
  height: 9px;
  width: 9px;
  animation-delay: -3.2s;
  transform: translate3d(90vw, 13vh, 22px);
  background: hsl(68, 70%, 50%);
}

@keyframes particle-animation-17 {
  100% {
    transform: translate3d(40vw, 17vh, 70px);
  }
}
.particle:nth-child(17) {
  animation: particle-animation-17 60s infinite;
  opacity: 0.13;
  height: 6px;
  width: 6px;
  animation-delay: -3.4s;
  transform: translate3d(57vw, 57vh, 24px);
  background: hsl(274, 70%, 50%);
}

@keyframes particle-animation-18 {
  100% {
    transform: translate3d(27vw, 11vh, 80px);
  }
}
.particle:nth-child(18) {
  animation: particle-animation-18 60s infinite;
  opacity: 0.14;
  height: 7px;
  width: 7px;
  animation-delay: -3.6s;
  transform: translate3d(14vw, 43vh, 43px);
  background: hsl(196, 70%, 50%);
}

@keyframes particle-animation-19 {
  100% {
    transform: translate3d(39vw, 2vh, 42px);
  }
}
.particle:nth-child(19) {
  animation: particle-animation-19 60s infinite;
  opacity: 0.68;
  height: 10px;
  width: 10px;
  animation-delay: -3.8s;
  transform: translate3d(29vw, 43vh, 54px);
  background: hsl(167, 70%, 50%);
}

@keyframes particle-animation-20 {
  100% {
    transform: translate3d(83vw, 42vh, 31px);
  }
}
.particle:nth-child(20) {
  animation: particle-animation-20 60s infinite;
  opacity: 0.53;
  height: 6px;
  width: 6px;
  animation-delay: -4s;
  transform: translate3d(68vw, 74vh, 29px);
  background: hsl(339, 70%, 50%);
}

@keyframes particle-animation-21 {
  100% {
    transform: translate3d(16vw, 53vh, 41px);
  }
}
.particle:nth-child(21) {
  animation: particle-animation-21 60s infinite;
  opacity: 0.73;
  height: 8px;
  width: 8px;
  animation-delay: -4.2s;
  transform: translate3d(59vw, 25vh, 21px);
  background: hsl(328, 70%, 50%);
}

@keyframes particle-animation-22 {
  100% {
    transform: translate3d(38vw, 61vh, 16px);
  }
}
.particle:nth-child(22) {
  animation: particle-animation-22 60s infinite;
  opacity: 0.11;
  height: 7px;
  width: 7px;
  animation-delay: -4.4s;
  transform: translate3d(66vw, 74vh, 60px);
  background: hsl(124, 70%, 50%);
}

@keyframes particle-animation-23 {
  100% {
    transform: translate3d(46vw, 86vh, 3px);
  }
}
.particle:nth-child(23) {
  animation: particle-animation-23 60s infinite;
  opacity: 0.97;
  height: 9px;
  width: 9px;
  animation-delay: -4.6s;
  transform: translate3d(82vw, 9vh, 58px);
  background: hsl(112, 70%, 50%);
}

@keyframes particle-animation-24 {
  100% {
    transform: translate3d(48vw, 81vh, 17px);
  }
}
.particle:nth-child(24) {
  animation: particle-animation-24 60s infinite;
  opacity: 0.54;
  height: 6px;
  width: 6px;
  animation-delay: -4.8s;
  transform: translate3d(10vw, 57vh, 11px);
  background: hsl(281, 70%, 50%);
}

@keyframes particle-animation-25 {
  100% {
    transform: translate3d(76vw, 31vh, 24px);
  }
}
.particle:nth-child(25) {
  animation: particle-animation-25 60s infinite;
  opacity: 0.48;
  height: 10px;
  width: 10px;
  animation-delay: -5s;
  transform: translate3d(42vw, 35vh, 93px);
  background: hsl(112, 70%, 50%);
}

@keyframes particle-animation-26 {
  100% {
    transform: translate3d(40vw, 4vh, 15px);
  }
}
.particle:nth-child(26) {
  animation: particle-animation-26 60s infinite;
  opacity: 0.48;
  height: 10px;
  width: 10px;
  animation-delay: -5.2s;
  transform: translate3d(18vw, 11vh, 43px);
  background: hsl(296, 70%, 50%);
}

@keyframes particle-animation-27 {
  100% {
    transform: translate3d(71vw, 57vh, 43px);
  }
}
.particle:nth-child(27) {
  animation: particle-animation-27 60s infinite;
  opacity: 0.65;
  height: 7px;
  width: 7px;
  animation-delay: -5.4s;
  transform: translate3d(80vw, 79vh, 69px);
  background: hsl(145, 70%, 50%);
}

@keyframes particle-animation-28 {
  100% {
    transform: translate3d(20vw, 37vh, 1px);
  }
}
.particle:nth-child(28) {
  animation: particle-animation-28 60s infinite;
  opacity: 0.24;
  height: 7px;
  width: 7px;
  animation-delay: -5.6s;
  transform: translate3d(44vw, 49vh, 48px);
  background: hsl(141, 70%, 50%);
}

@keyframes particle-animation-29 {
  100% {
    transform: translate3d(21vw, 27vh, 78px);
  }
}
.particle:nth-child(29) {
  animation: particle-animation-29 60s infinite;
  opacity: 0.03;
  height: 7px;
  width: 7px;
  animation-delay: -5.8s;
  transform: translate3d(8vw, 68vh, 66px);
  background: hsl(244, 70%, 50%);
}

@keyframes particle-animation-30 {
  100% {
    transform: translate3d(57vw, 37vh, 48px);
  }
}
.particle:nth-child(30) {
  animation: particle-animation-30 60s infinite;
  opacity: 0.99;
  height: 8px;
  width: 8px;
  animation-delay: -6s;
  transform: translate3d(65vw, 84vh, 77px);
  background: hsl(262, 70%, 50%);
}/*# sourceMappingURL=main.css.map */